body{
    background-color: black;
}
h1{
    color: white;
}
img{
    border: 2px solid;
    border-color: aliceblue;
    background-color: white;
    display: block;
    margin: auto;
    margin-left: auto;
}
header{
    text-align: center;
    align-content: center;
    align-items:center;
    font-size: 200%;
}
main{
   
    text-align: center;
    font-weight:bolder;
}
th:hover{
    background-color: black;
    color: whitesmoke;
    font-size: 25px;
    transition: 1s;
    transition-delay: 200ms;
}
table{
    background-color: orange;
    margin: auto;
    padding: auto;
    border-color: white;
    border-width: 10px;
    border-style: groove;
    table-layout: fixed;
}
thead{
    border: 100px;
    border-color:white;
}
#enjoy:focus{
    font-weight: bolder;
    font-stretch:extra-expanded;
    font-size: 25px;
    transition: 1s;
    transition-delay: 200ms;
}
.one{
    background-image:radial-gradient(circle,black,white);
    width: 40px;
    height: 30px;
    animation-name: one;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes one{
    0%{
        top: 0px;
        left: 430px;
    }
    12.5%{
        top: 130px;
        left: 430px;
    }
    25%{
        top: 130px;
        left: 240px;
    }
    37.5%{
        top: 320px;
        left: 240px;
    }
    50%{
        top: 320px;
        left: 1000px;
    }
    62.5%{
        top: 130px;
        left: 1000px;

    }
    75%{
        top: 130px;
        left: 808px;
    }
    87.5%{
        top:  0px;
        left: 808px;
    }
    100%{top: 0px;
        left: 430px;
    }
}
abbr{
    cursor:auto;
    border-bottom: none;
    text-decoration: none;
}
footer{
    color: white;
    text-align: center;
}
.two{
    background-image:radial-gradient(circle,black,white);
    width: 40px;
    height: 30px;
    animation-name: two;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes two{
    0%{
        top: 0px;
        left: 540px;
    }
    12.5%{
        top: 70px;
        left: 540px;
    }
    25%{
        top: 70px;
        left: 700px;
    }
    37.5%{
        top: 0px;
        left: 700px;
    }
    50%{
        top: 0px;
        left: 97%;
    }
    62.5%{
        top: -640px;
        left: 97%;

    }
    75%{
        top: -640px;
        left: 0px;
    }
    87.5%{
        top: 0px ;
        left: 0px;
    }
    100%{top: 0px;
        left: 540px;
    }
}

